<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <%- include('./partials/header.ejs')%>

    <main>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae neque debitis illum qui perspiciatis reprehenderit, tempore enim commodi magni facere assumenda, vitae autem est necessitatibus quos. Vero qui eum nemo dicta fuga possimus, error quisquam magnam, fugiat aliquid facilis ipsa. Aperiam pariatur fugit necessitatibus quibusdam totam consequatur neque reiciendis aliquam?</h3>
    </main>

    <%- include('./partials/footer.ejs')%>
</body>
</html>